{{#allQr}}
<section>
 <div id="QR-{{rowid}}" class="container">
   <h2>{{question}}</h2>
   <pre><span>{{{reponse}}}</span></pre>
 </div>
</section>
{{/allQr}}
{{#askQuestion}}
<section>
 <div id="askQuestion" class="container">
   <h2>Posez votre question :</h2>
   <form>
     <input type="hidden" value="{{numQuestion}}" name="numQuestion"/>
     <input required type="text" name="input-question" size="55" length="10" maxlength="200" placeholder="Votre question ..."></input>
     <div class="g-recaptcha" data-sitekey="{{captchaClient}}"></div>
       <a id="buttonAddQuestion" hx-validate="true" class="button" hx-target="#askQuestion" hx-post="/question">Poser la  question</a>
   </form>
 </div>
</section>
{{/askQuestion}}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
  function handleButtonAddQuestion(event)
  {
    if (event.detail.elt.id === "buttonAddQuestion") {
       const response = grecaptcha.getResponse();
       if (response.length === 0) {
          event.preventDefault();
            alert(
              "Merci de bien vouloir cocher la case 'Je ne suis pas un robot'.",
            );
       }
    }
  }
  mapHandlers.set('buttonAddQuestion',handleButtonAddQuestion);
</script>
